@import url('reset.css');
main{
    font-size : 0.3rem;
}
#presentation{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 0.5rem;
    color : white;
    position: relative;
    text-align: center;
}
#divImg{
    display: flex;
    position : relative;
    justify-content: center;
    width: 100%;
    top:0;
    overflow: hidden;
}
#fond{
    width : clamp(100px, 120%, 1200px);
}
.over{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(at 60% 0%, rgba(128,128,128,0.1) 0%, black 60%);
}
#titrePrestation{
    position: absolute;
}
#sous-image{
    margin-top: -40px;
    height : 20vw;
    position:relative;
    background:linear-gradient(to bottom right, black 50%, white 50%);
    padding : 0 10%;
}

.citation{
    position : absolute;
    top : 20%;
    left: 15%;
    width: 50%;
}

.blanc{
    color:white;
    mix-blend-mode: difference;
}

#equipements{
    display: grid;
    grid-template-columns: repeat(18,minmax(50px,1fr));
    justify-items: center;
    align-items: center;
    padding : 10vh 5%;
}

#rasoirs_tab, #titre_rasoirs_tab,
#img_blaireau_tab, #titre_blaireau_tab,
#img_support_tab, #titre_support_tab{
    display: none;
}

.carteInfo{
    position : relative;
    box-sizing: border-box;
    padding: 1rem 0.5rem 0.5rem;
    text-align: center;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.25);
    background-color: white;
}

.fleche{
    transform: rotate(180deg);
    width:5%;
    position:absolute;
    left:90%;
}

.fleche img{
    width: 100%;
}

#rasoirs-lames{    
    grid-column: 11/17;
    grid-row: 1/5;
}

#rasoirs{
    position :absolute;
    top: -3.5rem;
    left:15%;
    box-shadow: -6px 9px 5px 3px rgba(0,0,0,0.25);
}

#titre_rasoirs{
    position : absolute;
    top:10%;
    left:35%;
    margin : 5% 0 ;
}

#rasoirs-lames p{
    margin-top: 10%;
}

.image_moyenne{
    width : 6rem;
    filter:sepia(0.5) contrast(0.7) saturate(2);
}

#deco3{
    grid-column:15/19;
    grid-row:4/6;
    width:100%;
    height:80%;
    transform:scaleX(-1)
}

#titre_blaireau{
    margin-bottom : 5%;
}

#blaireau{
  grid-column: 2/9;
  grid-row:4/12;
}

#img_blaireau{
    position : absolute;
    top : -4rem;
    left:15%;
    box-shadow: -6px 9px 5px 3px rgba(0,0,0,0.25);
}

#support{
    grid-column:12/18;
    grid-row:9/13;
}

#support .fleche{
    top:88%;
}

#img_support{
    position:absolute;
    top:-2rem;
    left:-40%;
    box-shadow: 6px 9px 5px 3px rgba(0,0,0,0.25);
}
#titre_support{
    position:absolute;
    top:8%;
    left:64%;
}

#support p {
    margin-top : 7%;
}

#deco1{
    grid-column: 6/13;
    grid-row: 3/8;
    width:100%;
    height: 100%;
}

#deco2{
    grid-column: 1/7;
    grid-row:11/14;
    width: 100%;
}


#fin{
    padding : 0 5vw;
    margin: 5% 0;
    position : relative;
}

.petit_image{
    max-height:3rem;
    max-width:3rem;
    position : relative;    
    border-radius: 10%;
}

#bijoux{
    margin-left: 10%;
}


#enseigne{
    width:30%;
    position:absolute;
    top : -10%;
    right : 0;
    transform: rotateY(180deg);
}

.titre_presentoir{
    margin-top: 10vh;
    left:0;
    top:0;
    font-family: 'titre', cursive;
}

#titre_presentoir_bijoux{
    text-align: end;
    padding-right: 20%;
}

.presentoir{
    display: flex;
    width: 70%;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
}

.presentoir .fleche{
    left:100%;
    bottom : auto;
}

.carte{
    padding : 0.2rem;
    border-radius: 10%;
    height: fit-content;
    width: min-content;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.5);
    text-align: center;
    background-color: white;
}

.carte figcaption{
    display: flex;
    justify-content: center;
}

main .modal{
    display:none;
    position:fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.4);
}

main .modal-content{
    background-color:#fefefe;
    margin:15% auto;
    padding:20px;
    border:1px solid #888;
    width:80%;
    color : black;
    text-align: center;
}

main .close{
    color:#aaa;
    float : right;
    font-size:0.6rem;
    font-weight:bold;
    padding : 10px 20px;
}

main .close:hover{
    color : white;
    background-color: red;
    border-radius: 50%;
    cursor:pointer;
}

main .modal-content img{
    max-width: 30vw;
    max-height: 50vh;
}

main .flex{
    display: flex;
    align-items: center;
    margin : 5% 0;
}

main .flex p{
    text-align: justify;
    margin: 5% 4%;
    word-wrap: break-word;
    width: 50%;
}
/* tablette */
@media screen and (max-width:1023px) {
    main{
        font-size: 0.6rem;
    }

    main h1{
        font-size: 1.5rem;
    }

    #equipements{
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
    }

    .carteInfo{
        padding:0.5rem 0.5rem 1.5rem;
    }

    .fleche{
        width: 10%;
        top:auto;
        bottom : 0.35rem;
        left:80%;
    }

    .image_moyenne{
        width: 8rem;
    }

    #deco1, #deco2, #deco3,
    #rasoirs, #titre_rasoirs,
    #img_blaireau, #titre_blaireau,
    #img_support, #titre_support{
        display: none;
    }

    #rasoirs_tab, #titre_rasoirs_tab,
    #img_blaireau_tab, #titre_blaireau_tab,
    #img_support_tab, #titre_support_tab{
        display: block;
    }

    #rasoirs_tab{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #titre_rasoirs_tab{
        grid-row: 1/2;
        grid-column: 2/3;
    }

    #rasoirs-lames{
        grid-row: 2/4;
        grid-column: 2/3;
    }

    #img_blaireau_tab{
        grid-row: 4/5;
        grid-column: 2/3;
    }

    #titre_blaireau_tab{
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #blaireau{
        grid-row: 4/6;
        grid-column: 1/2;
    }

    #img_support_tab{
        grid-row: 6/8;
        grid-column: 1/2;
        align-self: center;
    }

    #titre_support_tab{
        grid-row: 5/6;
        grid-column: 2/3;
    }

    #support{
        grid-row: 6/8;
        grid-column: 2/3
    }

    #brosse3, #bijou3, #enseigne{
        display: none;
    }

    .petit_image{
        max-width: 6rem;
        max-height: 6rem;
    }

    .presentoir{
        width: 90%;
    }

    .fin .fleche{
        position: static;
    }

    #bijoux{
        margin-left:0;
    }
}

/* portable responsive */ 

@media screen and (max-width:780px){
    main{
        font-size: 0.7rem;
    }

    a{
        font-size:0.6rem;
    }
}