@font-face {
    font-family: 'quattrocentro';
    src: url(../font/Quattrocento-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'quattrocentro';
    src: url(../font/Quattrocento-Regular.ttf) format('ttf');
}