@font-face {
    font-family: 'titre';
    src: url(../font/Frijole/Frijole-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'police';
    src: url(../font/Underdog/Underdog-Regular.ttf) format('ttf');
}