@font-face {
    font-family: 'quattrocento';
    src: url(../font/Quattrocento-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'quattrocento';
    src: url(../font/Quattrocento-Regular.ttf) format('ttf');
}