@import url('reset.css');

.section0{
    margin-top: 15vh;
    background-color: black;
    height:50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrousel{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width:80%;
    height: 60%;
    position: relative;
}

.img_carrousel{
    width:50%;
    height: 100%;
    position: relative;
}

@keyframes transition-left {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* Première section "nos prestation" */

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5% 0;
    block-size: auto;
    background:url(../img/imgVecto1.PNG);
    background-size: cover;
    height: 40vw;
    position:relative;
    font-size: 0.3rem;
}


.conteneur{
    background: url(../img/imgVecto3.jpg) no-repeat;
    background-size:cover;
    position:relative;
    display: flex;
    justify-content: center;
    width:70%;
    height:100%;
    align-items: center;
}


main #titre_cont{
    font-size: 0.7rem;
    color: white;
    position: absolute;
    top:5%;
    left: 20%;
    text-shadow: 1px 1px 1px 1px black ;
}

.carte{
    background: white;
    display: flex;
    flex-direction: column;
    position : relative;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    height: 50%;
    width: 30%;
    box-shadow: black -1px 0px 20px 2px;
}

.clou{
    position:absolute;
    top:-2%;
    width:10%;
    transform: rotate(-50deg);
}

#carte1{
    transform: rotate(8deg);
    top :10%;
    left:-2%;
}

#carte2{
    transform: rotate(-5deg);
    left:1%;
    top : 40%;

}

#carte3{
    transform: rotate(-8deg);
    top : -5%;
}

#clou3{
    transform: rotate(210deg);
}

 .img1{
    width:100%;
    box-sizing: border-box;
    padding:10% 3% 3%;
    border-radius: 5px 5px;
    filter: contrast(90%) brightness(120%);
}

/* Deuxième section , carte en vrac */ 

.section2{
    background-size:contain;

}

.conteneur2 {
    display:flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-top:10vw;
    
}

#img1{
    width:48vw;
    position:relative;
    border-radius: 10px 10px 10px 10px;
    
}

#img2{
    width: 33vw;
    position: absolute;
    left: 39%;
    top: 15%;
    z-index: 1;
    box-shadow: #ffffff5e -2px -2px 13px 0px;
    border-radius: 10px 10px 10px 10px;
}

#img3{
    width:35vw;
    border-radius: 10px 10px 10px 10px;
    
    
}

#img4{
    width:38vw;
    position:absolute;
    top:79%;
    left:30%;
    border-radius: 10px 10px 10px 10px;
    
}

.section3{
    font-size: 0.4rem;
}

.section3 h2{
    margin : 5%;
    text-align: end;
}
#separation{
    background-image: url('../Img/idk.jpg');
    background-size: 400% 5vw;
    background-position: center;
    background-repeat: no-repeat;
    height:5vw;
    margin-top: 20vw;
}

#presentation_soin{
    display: flex;
    width: 100%;
    padding-right: 10%;
    box-sizing: border-box;
}

#presentation_soin img{
    width: 70%;
}

#presentation_soin figure{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}