*{
    margin:0;
    padding:0;
}

#background{
    height: 74vw;
    width: auto;
}

main{
    background: url(/img/idk2.jpg);
    background-size: 120% auto;
    background-position: 80% 40%;
    height: 100vh;
    display: flex;
    align-items: center;
}

form{
    position:relative;
    background:gray;
    background-color: rgba(192, 175, 175, 0.678);
}

.formulaire{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    margin-left: 32vw;
    border-radius: 45px 45px 45px 45px;
    padding:44px;
}

p{
    position:relative;
    color:wheat;
    bottom:22px;
    text-align: center;
    font-family: 'police';
    font-size: 1.4rem;
}

p:hover{
    color:brown;
}

.champ{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

input{
    margin:15px;
    font-family: 'police';
    background-color: rgb(92, 66, 41);
    color: antiquewhite;
    width:6vw;
    border: none;
    padding:7px;
    border-radius: 18px 18px 18px 18px;
}

input:hover{
    transform: rotateY(35deg);
    transition: 0.3s;
    background-color:antiquewhite;
    border:none;
    color:black;
}

label{
    font-size: 1.1rem;
    font-family: 'police';
    padding:12px;
    color:antiquewhite;
}

input{
    border-radius: 18px 18px 18px 18px;
    padding:8px;
    border:none;
    outline: none;
}

input:hover{
    background: blanchedalmond;
    border: none;
}

a{
    color:antiquewhite;
    padding:7px;
    font-family: 'police';
    font-size: 0.8rem;
    padding:6px;
}

a::after{
    color:rgba(124, 114, 114, 0.678)
}