@import url(reset.css);

main{
    font-size: 0.3rem;
    background: url(/img/idk2.jpg);
    background-size: 120% auto;
    background-position: 70% 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    position:relative;
    background:gray;
    background-color: rgba(192, 175, 175, 0.678);
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 45px 45px 45px 45px;
    padding: 3% 5%;
}

p{
    position:relative;
    color:wheat;
    text-align: center;
    height: 10%;
    margin-bottom : 5%;
}

p:hover{
    color:brown;
}

.champ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    width: 100%;
}

input{
    margin:15px auto;
    background-color: rgb(92, 66, 41);
    color: antiquewhite;
    padding : 0 10%;
    max-width:50%;
    border: none;
    height: 0.6rem;
    border-radius: 25px;
    outline: none;
}

input::placeholder{
    font-size: 0.3rem;
    text-align: center;
}

input:hover{
    background-color:antiquewhite;
    border:none;
    color:black;
}

label{
    width: 50%;
    padding:12px;
    color:antiquewhite;
}

a{
    color:antiquewhite;
    margin : 5% auto;
}

a::after{
    color:rgba(124, 114, 114, 0.678)
}

#envoyer:hover{
    transform: rotateY(35deg);
    transition: 0.3s;
}

@media screen and (max-width:1023px) {
    main{
        font-size: 0.6rem;
    }

    input{
        height: 1rem;
    }

    input::placeholder{
        font-size: 0.6rem;
    }
}