@import url('reset.css');

 /* background noir avc photo*/
#presentation{
    background:radial-gradient(at 40% 0%, rgba(128,128,128,0.1) -100%, black 60%);
    height : 830px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: clamp(30px, 0.5rem, 58px);
    color : white;
}

main h1{
    font-size: 0.80rem;
    font-family: 'titre';
    letter-spacing: 3px;
}

#sous-image{
    margin-top: -40px;
    height : 20vw;
    position:relative;
    background:linear-gradient(to bottom right, black 50%, white 50%);
    padding : 0 10%;
}

.citation{
    position : absolute;
    top:2vw;
    left: 15%;
    width: 30%;
}

.blanc{
    color:white;
    font-family: 'police';
}

                            /* Enola */

main{
    background-image: url(/Img/soinbarbe.jpg);
    background-position: 40% top;
    background-size: clamp(100px, 100%, 1280px) auto; /* donner une taille minimum , taille en pourcentage, et la taille maxim*/
    background-repeat: no-repeat;
    font-size:0.3rem;
}

.section3{
  position:relative;
}

#deco2svg{
    position: relative;
    width: 30vw;
    transform: rotate(180deg);
    left:69%;
    margin : 5% 0;
}

#para1{
    position: absolute;
    left : 40%;
    top : 70%;
    font-family:'titre';
}
 

                        /* section4 = BAUME */
.Baume{
    width : 100%;
    position : relative;
}

#para2{
    position: absolute;
    left:20%;
    top:-15%;
    font-size: 0.4rem;
    font-family: 'titre';
}

.conteneur{
    display: flex;
    position:relative;
    margin-top: 10vw;
    height: 40vh;
    width : 90%;
    align-items: center;
    justify-content: space-around;
}

.img-centre{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 60%;
    max-width: 30vw;
    max-height: 30vh;
}

.petite-image{
    max-width: 100%;
    max-height : 100%;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.carteBaume{
    display :flex;
    height: 100%;
    width : 80%;
    justify-content: space-around;
    box-shadow: 11px 7px 12px 0px;
}

.ligneGauche{
    background: black;
    width: 3px;
    align-self: stretch;
}

#fleche2{
    width:5vw;
    transform: rotate(180deg);
}

/* Section 5 SHAMPOING */ 

.shampoing{
    width : 100%;
    position : relative;
}

#conteneur2{
    left:10%;
}

#fleche3{
    width:5vw;
}

.carteshamp{
    display:flex;
    box-shadow: 11px 7px 12px 0px;
}


figcaption{
    width: 80%;
    margin : 0 auto;
    background:white;
    font-size: 0.3rem;
    font-family:'police';
    text-align: center;
}


/* section 6 : huiles */ 

.huiles{
position:relative;
width : 100%;
margin-top: 12vh;
text-align: center;
}


#para4{
    position: relative;
    font-size: 0.4rem;
    font-family: 'titre';
    margin-bottom: 2vh;
}

.conteneur2{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}

#fleche4{
    width : 5vw;
    transform: rotate(180deg);
    left : 70%;
    top : 47.5%;
    position : absolute;
}

.cartehuile{
    display: flex;
    justify-content: space-around;
    box-shadow: black -1px 0px 7px 0px;
    border-radius: 3px 3px 3px 3px;
}


figcaption:hover{
    background:white;
    color:orange;
}

/* Section 7 Cire a barbe */ 

#imgDeco2SVG{
    position: absolute;
    width: 30%;
    top : 0;
    left:-15%;
    transform: rotate(90deg);
}

.cireBarbe{
    position: relative;
    display: flex;
    justify-content: center;
    margin:20vh 0 10vh;
    height : 80vh;
    text-align: center;
}

#para5{
    position:absolute;
    top : -10vh;
    font-size: 0.4rem;
    font-family: 'titre' ;
}

#imgBois{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 30%;
    left : 0;
}

.carteCire{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow:black 1px 0px 12px 0px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.imgCire{
    width:33vw;
}

