*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'quattrocento' , sans-serif ;
}

header {
    background-color:rgb(0, 0, 0);
    position:relative;
    
}

#logoblanc{
    display: flex;
    background:rgb(0, 0, 0);
    padding:10px;
}


.trait-vert{
    background:green;
    height:2px;
    width:60px;
    margin:15px;
}


ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:black;

}

li {
    list-style: none;
    line-height: 70px;
}

a {
    padding: 10px 1px 10px 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 1px 0 1px 0;
}

#presentation{
    background:radial-gradient(at 40% 0%, rgba(128,128,128,0.1) -100%, black 60%);
    height : 880px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: clamp(30px, 0.5rem, 58px);
    color : white;
}
#sous-image{
    margin-top: -40px;
    height : 20vw;
    position:relative;
    background:linear-gradient(to bottom right, black 50%, white 50%);
    padding : 0 10%;
}

.citation{
    position : absolute;
    top:2vw;
    left: 15%;
    width: 30%;
}

.blanc{
    color:white;
}

                            /* Enola */

main{
    background-image: url(/Img/soinbarbe.jpg);
    background-size: clamp(100px, 100%, 1280px) auto; /* donner une taille minimum , taille en pourcentage, et la taille maxim*/
    background-repeat: no-repeat;
}


#deco2svg{
    position: absolute;
    width: 29vw;
    transform: rotate(360deg);
    right: -21vw;
    top: 99vh;
    overflow: hidden;
}

#para1{
    position: absolute;
    right: 15vw;
    top: 116vh;
}
 

                        /* section4 = BAUME */
#para2{
    position: absolute;
    right: 79vw;
    top: 128vh;
    font-size: 1.5rem;
}

.conteneur{
    display: flex;
}

.ligneGauche{
    background:black;
    width:3px;
    margin-left:5vw;
}

button{
    border: none;
    background: none;
}

#fleche1{
    width: 38px;
}

#fleche2{
    width:38px;
    transform: rotate(177deg);
}

/* Section 5 SHAMPOING */ 

#para3{
    position: absolute;
    right: 18vw;
    top: 181vh;
    font-size: 1.5rem;
}

#fleche3{
    width: 38px;
}

#fleche4{
    width:38px;
    transform: rotate(177deg);
}

.conteneur1{
    display: flex;
    margin-left:15vw;
    margin-top:12vw;
}

.imgshamp{
    width:22vw;
}

.ligneDroite{
    background:black;
    width:3px;
    margin-left:12px;
}

/* section 6 : huiles */ 

.huiles{
    padding:0;
}

#imgDeco2PNG{
    position: absolute;
    width: 45vh;
    right: 80vw;
    top: 266vh;
    transform: rotate(90deg);
}

#para4{
    position: absolute;
    right: 47vw;
    top: 23vh;
    font-size: 1.5rem;
}

.conteneur2{
    box-sizing: content-box;
    display: flex;
    margin-top: 18vh;
    justify-content: space-around;
}

#fleche5{
    top: -13vw;
    width: 38px;
}

.cartehuile{
    display: flex;
    box-shadow: black -1px 0px 7px 0px;
    border-radius: 3px 3px 3px 3px;
}

#fleche6{
    width:38px;
    transform: rotate(177deg);
}

figcaption{
    font-size: 1.1rem;
    text-align: center;
}

figcaption:hover{
    color:orange;
}





