*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'quattrocento' , sans-serif ;
}

header {
    background-color:rgb(0, 0, 0);
    position:relative;
    
}

.section0{
    block-size: auto;
}

.coupe8{
    background-size:cover;
}

#logoblanc{
    display: flex;
    background:green;
    padding:10px;
}


.trait-vert{
    background:green;
    height:2px;
    width:60px;
    margin:15px;
}


ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:black;

}

li {
    list-style: none;
    line-height: 70px;
}

a {
    padding: 10px 1px 10px 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 1px 0 1px 0;
}

h1{
    color:rgba(78, 235, 104, 0.575);
    background-color:black;
    font-size: 5.5rem;
    text-align: center;
    padding:25px;
    letter-spacing: 3px;
    text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.5);
    }



/* Première section "nos prestation" */

.section1{
    margin-top:15px;
    block-size: auto;
    background:url(img/imgVecto1.PNG);
    height: 590px;
   margin-bottom:15px;
   position:relative;
}


.conteneur{
    background: url(img/imgVecto3.jpg) no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    height:569px;
    margin:0 20px 0 20px;
    align-items: center;
}


h2{
    font-size: 2.9rem;
    color: white;
    position: absolute;
    margin-left: 537px;
    z-index: 1;
    text-shadow: 1px 1px 1px 1px black ;
}

.carte{
    background: white;
    background-size: contain;
    border-radius: 9px 10px 8px 9px;
    height: 341px;
    width: 348px;
    align-items: center;
    box-shadow: black -1px 0px 20px 2px;
    transform: rotate(8deg);
}

.carte p{
    margin: 19px 0 0 26px;
    word-spacing: 1px;
}

.carte p:hover{
    /*background:linear-gradient( to bottom, rgb(230, 1, 1), rgba(33, 163, 223, 0.527));*/
    transition-duration: 0.1s;
    transition-delay: 0.2s;
}


#carte1{
    transform: rotate(8deg);
}

#carte2{
    transform: rotate(0deg);
    margin-top:380px;
    
}

#carte3{
    transform: rotate(-8deg);
  
}

 .img1{
    display: block;
    width: 322px;
    height: 245px;
    border-radius: 5px 5px;
    max-width: 100%;
    margin:8px 0px 0px 8px;
    align-items: center;
    filter: contrast(90%) brightness(120%);
}

/* Deuxième section , carte en vrac */ 

.section2{
    background-size:contain;

}

.conteneur2 {
    display:flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-top:10vw;
    
}

#img1{
    width:48vw;
    position:relative;
    border-radius: 10px 10px 10px 10px;
    
}

#img2{
    width: 33vw;
    position: absolute;
    left: 39%;
    top: 15%;
    z-index: 1;
    box-shadow: #ffffff5e -2px -2px 13px 0px;
    border-radius: 10px 10px 10px 10px;
}

#img3{
    width:35vw;
    border-radius: 10px 10px 10px 10px;
    
    
}

#img4{
    width:38vw;
    position:absolute;
    top:79%;
    left:30%;
    border-radius: 10px 10px 10px 10px;
    
}

